# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Entornos virtuales de Python
.venv
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local
db.sqlite3
db.sqlite3-journal

# Carpetas de IDE
.vscode/
.idea/

# Carpetas de Frontend (para evitar enviarlas al contexto del backend)
frontend/node_modules/
frontend/dist/

# Archivos de SO
.DS_Store