option_settings:
  # La opción "namespace" le dice a Elastic Beanstalk qué componente configurar.
  # En este caso, el servidor proxy (Nginx) y sus reglas para archivos estáticos.
  - namespace: aws:elasticbeanstalk:environment:proxy:staticfiles
    
    # La opción "option_name" define el prefijo de la URL que activará esta regla.
    # Cualquier petición a "http://tu-dominio.com/static/..." será interceptada.
    option_name: /static
    
    # La opción "value" define la ruta en el disco del servidor donde Nginx buscará los archivos.
    # Esta ruta es RELATIVA a la raíz de tu aplicación (/var/app/current).
    # Como "collectstatic" crea la carpeta en /var/app/current/backend/static,
    # el valor correcto aquí es "backend/static".
    value: static

