option_settings:
  # --- INICIO DE LA CORRECCIÓN ---
  # Se ajusta el 'value' para que apunte a la carpeta correcta donde 'collectstatic'
  # está guardando los archivos, que es dentro del subdirectorio 'backend'.
  - namespace: aws:elasticbeanstalk:environment:proxy:staticfiles
    option_name: /static
    value: backend/static
  # --- FIN DE LA CORRECCIÓN ---

