container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_seed_pmbok:
    command: "python manage.py seed_pmbok"
    leader_only: true
  04_seed_scrum:
    command: "python manage.py seed_scrum"
    leader_only: true
  05_seed_departments:
    command: "python manage.py seed_departments"
    leader_only: true