apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: pmbok-local-basic
  namespace: argocd
spec:
  project: default
  source:
    repoURL: ${REPO_URL}
    targetRevision: ${REVISION}
    path: deploy/k8s/overlays/local-basic
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
